@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* import must be at top */

*{
/* apply to all */

margin: 0;
padding: 0;

} 

body{

background-color: rgb(12, 147, 151);

}

/* button */
#reset {
  margin: 0 23px;
  padding: 1px 18px;
  background: #0bdf2e;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Baloo Bhaina 2';
  font-size: 15px;
  font-weight: bolder;
  size: 20px;
}

.info {

font-weight: bold;

font-size: 20px;

padding-top: 50px;

}



nav{

background-color: rgb(1, 44, 15);
color: seashell;
height: 90px;
font-size: 30px;
display: flex;

/* // center me lane k liye  */
align-items: center ;

 font-family: 'Lobster' ;

} 

.imgbox img
/* // imgbox ka img pe target */
{

/* display: none; */
/* // to remove display from here */

width: 0;

transition: width 1s ease-in-out ;
}





li 
{
  margin-left: 450px;
  justify-content: center;

}


.box
{
 /* background-color: seagreen; */
 display: flex;
 justify-content: center;
 /* // these 2 are to make anything in center */
 


}

nav ul
{
list-style-type: none;

}

.container
{

  display: grid;
  /* // cause it is grid: */

  grid-template-rows: repeat(3 ,10vw);
  grid-template-columns: repeat(3 ,10vw);
  /* // to make it responsive */

  font-family: Georgia, 'Times New Roman', Times, serif;

  margin-top: 30px;

  position: relative;

}

.game
{


display: flex ;

justify-content: center;
/* 
background-color: springgreen; */

margin-top: 15px;


}

.box{

border: 2px solid black;

font-size: 8vw;
cursor: pointer;

justify-content: center;

}

.box:hover
{

  background-color: rgb(201, 221, 23);


}

.space 
{
 margin-top: 50px;
 /* padding-right: 20px; */

}

.gameinfo
{

padding: 0 30px ;

margin :10px;


}

.gameinfo h1
{
  font-size: 3 rem;
  font-family: cursive;
}

.line{
  background-color: black;
  height: 3px;
  width: 0;
  position: absolute;
  background-color: #911d91;
  transition: width 1s ease-in-out;
}

.br-0{
  border-right: 0;
}

.bl-0{
  border-left: 0;
}

.bt-0{
  border-top: 0;
}

.bb-0{
  border-bottom: 0;
}
/* // make the classes in foRM OF BORDER */

@media screen and (max-width: 950px)
{

  /* media screen use krke customize kr skta hn so that kisi bhi device pe aag chomd chle */
    .game{
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 34px;
    }
    .gameinfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}

/* // game container == game */